# OS/editor
.DS_Store
/.idea/
/.vscode/
/.calva/
/*.iml
*~
.#*

# Clojure/ClojureScript
/.cpcache/
/.shadow-cljs/
/.clj-kondo/.cache/
/target/
/out/
/.nrepl-port
/.lein-failures
/.lein-repl-history

# JavaScript package tooling
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env
/.env
/.env.*
!.env.example

# Build output
/build/
/dist/
