#{
  :icon/alert-16
  :icon/alert-20
  :icon/arrow-down-12
  :icon/arrow-left-20
  :icon/chevron-left-20
  :icon/arrow-top-12
  :icon/browser-12
  :icon/browser-16
  :icon/browser-20
  :icon/bridge-12
  :icon/bullet-20
  :icon/check-20
  :icon/chevron-right-20
  :icon/clear-20
  :icon/close-12
  :icon/close-20
  :icon/color-pick-20
  :icon/dark-20
  :icon/dropdown-12
  :icon/dropdown-20
  :icon/edit-12
  :icon/email-20
  :icon/external-12
  :icon/expand-20
  :icon/hide-20
  :icon/info-12
  :icon/info-16
  :icon/info-20
  :icon/insights-20
  :icon/keycard-card-20
  :icon/light-20
  :icon/loading-20
  :icon/locked-20
  :icon/placeholder-12
  :icon/placeholder-20
  :icon/negative-state-20
  :icon/positive-state-20
  :icon/flag-12
  :icon/reveal-20
  :icon/unread-20
  :icon/warning-16
  :icon/warning-20
  :icon/collapse-20
  :icon/connection-16
  :icon/bridge-16
  :icon/bridge-20
  ;; MAPP
  :icon/search-20
  :icon/search-12
  :icon/start-12
  :icon/route-12
  :icon/route-16
  :icon/route-20
  :icon/derived-path-big-12
  :icon/derived-path-big-20
  :icon/upvote-20
  :icon/jump-to-12
  :icon/arrow-left-right-12
  :icon/flip-20
  :icon/refresh-20
  :icon/done-12
  :icon/zoom-in-20
  :icon/zoom-out-20
  :icon/confeti-colorful-20
}
