#{
  :icon/alert-16
  :icon/arrow-down-20
  :icon/arrow-left-20
  :icon/arrow-top-20
  :icon/browser-16
  :icon/browser-20
  :icon/chevron-right-20
  :icon/close-12
  :icon/close-20
  :icon/dropdown-12
  :icon/dropdown-20
  :icon/hide-20
  :icon/info-12
  :icon/info-16
  :icon/info-20
  :icon/keycard-card-20
  :icon/locked-20
  :icon/placeholder-12
  :icon/placeholder-20
  :icon/reveal-20
  :icon/unread-20
}
